<p style="text-align: center; background-color: white;">
    <a href="{{site.baseurl}}/index">Home</a> | 
    <a href="{{site.baseurl}}/about">About</a> | 
    <a href="{{site.baseurl}}/projects">Projects</a> | 
    <a target="_blank" rel="noopener noreferrer" href="{{site.baseurl}}/Omodayo Origunwa Resume.pdf">Resume</a> | 
    <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/dayoorigunwa/">LinkedIn</a> | 
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/dinoDayo/">GitHub</a> 
  </p>